<h1>Welcome to my Drink App</h1>

<br><br><br><br>

<h2>Enter Details? <%= link_to "Sign Up Now!", new_user_path %><h2>



<br><br><br><br>
<h2>Existing User? <%= link_to "Sign in Here", signin_path %></h2>