<<<<<<< HEAD
<h1>Welcome to my Drink App</h1>
=======
h1>Welcome to my Drink App</h1>
>>>>>>> d322bda64ec39cee8cbe3c2b87e1e4b4ae85a83a

<br><br><br><br>

<h2>Enter Details? <%= link_to "Sign Up Now!", new_user_path %><h2>


<<<<<<< HEAD

=======
>>>>>>> d322bda64ec39cee8cbe3c2b87e1e4b4ae85a83a
<br><br><br><br>
<h2>Existing User? <%= link_to "Sign in Here", signin_path %></h2>